<h1>Login as Organizer</h1>
<%= form_with url: organizer_sessions_path, local: true do |form| %>
  <%= form.label :email %>
  <%= form.email_field :email %>
  <%= form.label :password %>
  <%= form.password_field :password %>
  <%= form.submit "Login" %>
<% end %>
<p>
  <a href="<%= new_organizer_registration_path %>">Create a new organizer account</a>
</p>