<h1>Login as Guest</h1>
<%= form_with url: guest_sessions_path, local: true do |form| %>
  <%= form.label :email %>
  <%= form.email_field :email %>
  <%= form.label :password %>
  <%= form.password_field :password %>
  <%= form.submit "Login" %>
<% end %>
<p>
  <a href="<%= new_guest_registration_path %>">Create a new guest account</a>
</p>