<%= render partial: "shared/navbar" %>

<h1>Welcome, <%= current_user.first_name %>!</h1>

<% if flash[:notice] %>
  <div class="alert alert-success"><%= flash[:notice] %></div>
<% elsif flash[:alert] %>
  <div class="alert alert-danger"><%= flash[:alert] %></div>
<% end %>


<%  if @organized_events && @organized_events.any? %>
  <h2>Here are the events you organized:</h2>
  <ul>
    <% @organized_events.each do |event| %>
      <li>
        <p><strong>Location:</strong> <%= event.location %></p>
        <p><strong>Description:</strong> <%= event.description %></p>
        <p><strong>Start Date:</strong> <%= event.start_date.strftime("%B %d, %Y") %></p>
        <p><strong>Start Time:</strong> <%= event.start_time.strftime("%I:%M %p") %></p>
        <p><strong>End Date:</strong> <%= event.end_date.strftime("%B %d, %Y") %></p>
        <p><strong>End Time:</strong> <%= event.end_time.strftime("%I:%M %p") %></p>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>You currently have no events that you created.</p>
<% end %>

<%  if @guest_events && @guest_events.any? %>
  <h2>Here are the events you are invited to:</h2>
  <ul>
    <% @guest_events.each do |event| %>
      <li>
        <h3><%= event.title %></h3>
        <p><strong>Location:</strong> <%= event.location %></p>
        <p><strong>Description:</strong> <%= event.description %></p>
        <p><strong>Start Date:</strong> <%= event.start_date.strftime("%B %d, %Y") %></p>
        <p><strong>Start Time:</strong> <%= event.start_time.strftime("%I:%M %p") %></p>
        <p><strong>End Date:</strong> <%= event.end_date.strftime("%B %d, %Y") %></p>
        <p><strong>End Time:</strong> <%= event.end_time.strftime("%I:%M %p") %></p>
       

        
      
    <% end %>
  </ul>
<% else %>
  <p>You currently have no event.</p>
<% end %>