<h1><%= @event.title %></h1>

<p><strong>Date:</strong> <%= @event.date.strftime("%B %d, %Y") if @event.date %></p>
<p><strong>Start Time:</strong> <%= @event.start_time.strftime("%I:%M %p") if @event.start_time %></p>
<p><strong>End Time:</strong> <%= @event.end_time.strftime("%I:%M %p") if @event.end_time %></p>
<p><strong>Location:</strong> <%= @event.location %></p>
<p><strong>Description:</strong> <%= @event.description %></p>

<%= link_to 'Edit', edit_event_path(@event), class: 'btn btn-primary' %> | 
<%= link_to 'Back to Events', events_path, class: 'btn btn-secondary' %> |

<!-- Delete Form (no JavaScript required) -->
<%= form_with(model: @event, method: :delete, data: { confirm: 'Are you sure you want to delete this event?' }) do |form| %>
  <%= form.submit 'Delete', class: 'btn btn-danger' %>
<% end %>

<This adds a a form for the events show page to invite the guest--> 
<h1><%= @event.title %></h1>
<p><%= @event.description %></p>

<%= form_with url: add_guest_to_event_path(@event), method: :post do |f| %>
  <%= f.label :email, "Guest Email" %>
  <%= f.text_field :email %>

  <%= f.label :first_name, "Guest First Name" %>
  <%= f.text_field :first_name %>

  <%= f.label :last_name, "Guest Last Name" %>
  <%= f.text_field :last_name %>

  <%= f.submit "Add Guest" %>
<% end %>
